/*!
Theme Name: Centaur Trails
Theme URI: http://underscores.me/
Author: Compion
Author URI: https://compion.nl
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: centaurtrails
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Centaur Trails is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
@import "mixins/mixins-master";
@import "variables-site/variables-site";

@import "searchfilter/filter";

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import "normalize";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography/typography";

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
@import "elements/elements";

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@import "forms/forms";

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
@import "navigation/navigation";

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
@import "modules/accessibility";

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
@import "modules/alignments";

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
@import "modules/clearings";
 
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
@import "site/secondary/widgets";

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
@import "site/site";

/*--------------------------------------------------------------
# Infinite scroll 
--------------------------------------------------------------*/ 
@import "modules/infinite-scroll";

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
@import "media/media";

/*--------------------------------------------------------------
# Animate on Scroll 
--------------------------------------------------------------*/  
@import "aos/aos";

/* ------------------
# Header
-------------------*/

html {
	scroll-behavior: smooth;
}

.site-header{
	max-width: $max-website-width;
	margin-left: auto;
	margin-right: auto;
	background-image: url('./images/home-background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
	min-height: 525px;

  	@include phone{
    	min-height: 350px; 
  	}

	.header-top-content {
	    padding-top: 17px;
	    padding-bottom: 11px;
    	
    	.site-branding {
	    	position: relative;
	    	display: inline-block;
	    	width: 200px;
	    	vertical-align: top;
	    	top: 11px; 
	    
		    @media screen and (max-width: 900px) {
		    	top: 7px;
		    } 
      		
      		a {
		        top: 3px;
		        position: relative; 
		    }
		}
	}
	.container-inner{
		position: relative;
	}
	.content-header-container {
	    max-width: 1700px;
	    margin-left: auto;
	    margin-right: auto;
		.content-header{
			padding-top: 50px;
		    text-align: center;
		    color: #ffffff;
		    text-shadow: 1px 1px 9px rgba(54, 54, 54, 0.38);

		    .subtitle{
		    	text-transform: uppercase;
			    font-size: 22px;
			    font-weight: 300;
			    letter-spacing: 2px;
			    margin-top: -25px;
			    display: block;
		    }

		    @include tablet{
		    	padding-top: 60px;

		    	.subtitle{
		    		margin-top: 20px;
		    		font-size: 17px;
		    	}
		    }
		    @include media(767px){

		    	.subtitle{
		    		margin-top: 0px;
		    	}
		    }
		    @media screen and (max-width: 480px) {
        		padding-top: 50px;

	         	.subtitle {
	            	font-size: 18px; 
	            }
	        }
		}
	}
}
@media screen and (max-width: 900px) {
  .home .site-branding {
  	display: none !important; 
  }
}
@include phone{
	.home{
		.content-header{
			img{
				max-width: 80%;
			}
		}
	}
}

.topbar{
	background: $color__black;
	color: #ffffff;
	text-align: right;
  	
  	div.menu-topbar-container{
  		display: inline-block;

	  	ul#topbar-menu {
	    list-style-type: none;
	    margin: 0px;
	    -webkit-padding-start: 0px;
	    padding-inline-start: 0px;
	    display: inline-block;
	    	li {
		    	display: inline-block;
		    	padding: 0px;
		    	margin: 0px;
		      	
		      	a {
		        	padding: 5px 8px;
			        color: rgba(255, 255, 255, 0.6);
			        text-transform: uppercase;
			        text-decoration: none;
			        display: inline-block;
			        font-size: 13px;
			        font-weight: 500; 

			        &:hover {
		          		background: #2b2b2b; 
		          	}
	          	}
		      	&.current-menu-item a {
		        	background: #df7021; 
		        }
		    }
	    }
	}
	form{
		display: inline-block;
		margin-right:9px;

		input[type="text"]{
			padding: 3px 9px;
			margin:0px 9px 0px 0x;
			height:29px;
			font-size: 14px;
			background:#555;
			color:#eee;
			border:none;
		}
		button.is-search-submit {
		    background: none;
		    padding: 0;
		    margin: 0;
		    margin-left: -28px;
		    z-index: 9999999;
		    position: absolute;
		    border: 0px;

		    span{
		    	border: 0px;
			    padding: 3px;
			    font-size: 13px;
			    height: 25px;
			    color: white;
			    background: transparent;
			    border-color: transparent;

			    svg{
			    	height: 100%;
			    }
		    }
		}
	}
 
  	@media screen and (max-width: 900px) {
    	display: none; 
  	}
}

.is-ajax-search-result {
 background:#fff !important;
 padding:0 !important;
} 

/* ------------------
# Homepage
-------------------*/
.home .content-header span.subtitle {
  margin-top: -6px !important; }

section.fp-search{
	text-align: center; 

	form.searchandfilter{
		text-align: center;
		display: inline-block;
	    background: #ffffff;
	    border-radius: 6px;
	    padding: 20px 20px 0px 20px;
	    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	    margin-bottom: 30px;
	    margin-left: auto;
	    margin-right: auto;

	    @include desktop {
      		padding: 20px 10px 0px 20px; 
      	}
    	@include media(550px) {
      		padding: 20px 17px 0px 20px; 
      	}

		> ul{
			> li{
			    background: transparent;
			    border-radius: 0px;
			    box-shadow: none;
			    margin-bottom: 30px;
			    display: inline-block;
			    padding: 0px;
			    margin-right: 20px;
			    position: relative;

			    @include desktop{
        			width: 47%; 
        		}
      			@include tablet{
        			width: 45%;
          			margin-right: 17px; 
          		}
      			@include media(550px) {
        			width: 100%;
          			margin-right: 0px; 
          		}

			    h4{
			    	text-align: left;
			    	color: $color__black;
			    }

			    &.sf-field-submit{
			    	width: 120px;
			    	text-align: left;
			    	margin-right: 0px;

			    	@include desktop {
				        width: 47%;
			            margin-right: 20px; 
			        }
			        @include tablet{
			        	width: 45%;
			            margin-right: 17px; 
			        }
			        @include media(550px) {
			         	width: 100%;
			            margin-right: 0px; 
			        }

			    	input[type="submit"]{
			    		padding: 8px 11px;
						text-decoration: none;
						font-weight: 900;
						text-transform: uppercase;
						display: inline-block;
						font-size: 15px;
						background-color: $color__orange;
						color: #ffffff;
						border: 0px;
						height: 45px;

						@include desktop{
            				width: 100%; 
            			}

						&:hover{
							transition: all .1s ease-in-out;
							cursor: pointer;
							background-color: darken($color__orange, 5%);
						}
			    	}
			    }
			    .sf-input-select{
			    	height: 45px;
    				text-transform: uppercase;
    				font-weight: bold;
    				color: $color__green;
    				text-indent: 6px;

    				@include desktop{
		          		position: absolute;
			            width: 100%;
			            left: 0;
			            top: 30px;
			        }
			    }
			}
		}
	}
}
section.fp-usp{
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	text-align: center;
	justify-content: space-between;
    width: 80%;
    margin: 50px auto;

	.fp-usp-item{
		width: 30%;

		img{
			max-height: 60px;
		}
		span.fp-usp-item-title{
			color: $color__green;
			font-weight: bold;
			text-transform: uppercase;
			display: block;
		}
	}
	@include desktop{
		width: 90%;
	}
	@include tablet{
		width: 100%;
		margin: 40px auto;
	}
	@include media(550px){
		margin: 40px auto 10px auto;

		.fp-usp-item{
			width: 100%;
			text-align: left;
			margin-bottom: 20px;

			img{
				width: 24%;
				display: inline-block;
			}
			.fp-usp-item-content{
				width: 75%;
				display: inline-block;
			}
		}
	}
}
section.fp-aanbiedingen, .related-reizen{
	.aanbieding-block{
		width: 49%;

		@include tablet{
			width: 100%;
		}
	}
	a{
		.aanbieding-block-item{
			background-size: cover;
			background-position: center center;
			height: 400px;
			position: relative;
			border-radius: 5px;
	    	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);

			.aanbieding-block-item--content{
				background: #ffffff;
				bottom: 0px;
				min-height: 50px;
				position: absolute;
				width: 100%;
				display: flex;
				flex-wrap: wrap;
			    padding: 7px 20px 20px 20px;
			    border-bottom-left-radius: 5px;
			    border-bottom-right-radius: 5px;

				.aanbieding-block-item--content-left{
					width: calc(100% - 200px);
					
					text-decoration: none;
					color: $color__black;
					font-weight: 100;

					h3{
						margin-bottom: 0px;
						text-decoration: none;
						color: $color__black;
					}

				}	
				.aanbieding-block-item--content-right{
					width: 200px;
					text-align: right;
					padding-top: 15px;
				}

				@include desktop{
					.aanbieding-block-item--content-left{
						width: 100%;
					}
					.aanbieding-block-item--content-right{
						width: 100%;
						text-align: left;
					}
				}
			}
		}
	}
}

section.fp-discover-world{
	margin-top: 140px;
	margin-bottom: 70px;

	@include tablet{
		margin-top: 75px;
		margin-bottom: 35px;
	}
	@include phone{
		margin-top: 40px;
		margin-bottom: 35px;
	}

	h2{
		max-width: 80%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;


		@include tablet{
			max-width: 100%;
		}
	}
	p.intro{
		max-width: 50%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		margin-bottom: 50px;


		@include tablet{
			max-width: 80%;
		}
		@include phone{
			max-width: 100%;
		}
	}
	div.continents{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: stretch;

		.continents-item-wrap {
			width: 32%;
			@include desktop{
				// height: 250px;

				.continents-item--hover{
					padding: 14% 15px 0px 15px; 

					p{
						margin-top: 15px;
    					font-size: 16px;
					}
				}
			}
			@include media(850px){
				width: 49% !important;
			}
			@include phone{
				width: 100% !important;
			}
		}

		.continents-item{
			width: 100%;  
			height: 300px;
			position: relative;
			border-radius: 5px;
			background-size: cover;
			background-position: center center;
			margin-bottom: 20px;
			overflow:hidden;

			.continents-item--link{
				position: absolute;
				height: 100%;
				width: 100%;
				text-decoration: none;
			}

			.continents-item--hover{
				position: absolute;
				height: 100%;
				width: 100%;
				background: linear-gradient(0deg, rgba(124,164,56,1) 0%, rgba(180,223,136,0.8561799719887955) 100%);
				text-align: center;
    			padding: 14% 15px 0px 15px;
				opacity: 0;
				transition: $hover-zoom-transition;
				z-index: 4;

				.continent-item--hover--title{
					text-transform: uppercase;
					color: #ffffff;
					font-weight: 900;
					font-size: 20px;
					line-height: 1.2;
				}
    			p{
    				color: #ffffff;
    				font-weight: 900;
    				font-size: 20px;
				    padding-left: 20px;
				    padding-right: 20px;
    			}
			}
			.bottom-gradient{
				position: absolute;
				height: 83px;
				width: 100%;
				background: url('./images/bottom-shadow.png');
				background-repeat: repeat-x;
				z-index: 2;
				bottom: 0;
				border-radius: 5px;
			}

			.continents-item--title{
				text-transform: uppercase;
				color: #ffffff;
				position: absolute;
				bottom: 20px;
				left: 20px;
				font-weight: 900;
				font-size: 20px;
				line-height: 1.2;
				z-index: 3;
				text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
			}

			&:hover{
				.continents-item--hover{
					opacity: 1;
					transition: all .2s ease-in-out;
				}
				box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
			}

			transition: box-shadow 0.2s linear;

			@include hover-zoom();

		}
	}
}

section.fp-about-centaur{
	margin-top: 140px;
	margin-bottom: 70px;

	@include tablet{
		margin-top: 75px;
		margin-bottom: 35px;

		div{
			margin-bottom: 20px;
		}
	}
	@include phone{
		margin-top: 40px;
		margin-bottom: 35px;
	}


	img{
		border-radius: 5px;
	}
}

section.instagram{
	margin-top: 70px;
	background-color: #ffffff;
}


/* ------------------
# Main-Content elements
-------------------*/
body{
	background-color: #ffffff;
}
.site{
	max-width: $max-website-width;
	margin-left: auto;
	margin-right: auto;
}

.site-content{
	background-image: url('./images/content-background.png');
	margin-top: -113px;
    padding-top: 105px;
    position: relative;

    @include tablet{
    	padding-top: 90px;
    }
}


section.reis-gerelateerd{
	margin-top: 70px;
	margin-bottom: 70px;

	div.reis-gerelateerd-block{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: stretch;

		.reis-gerelateerd-block-wrap{
				width: 24%;
				@include desktop{
					width: 49%;
					margin-bottom: 10px;
				}
				@include tablet{
					width: 100%;
				}
			
			}

		.reis-gerelateerd-block-item{
			width: 100%;
			height: 250px;
			position: relative;
			border-radius: 5px;
			background-size: cover;
			background-position: center center;
			overflow: hidden;


			&:before {
				border-radius: 5px;
				overflow: hidden;
			}

			


			.reis-gerelateerd-block-item--link{
				position: absolute;
				height: 100%;
				width: 100%;
				text-decoration: none;
			}

			.bottom-gradient{
				position: absolute;
				height: 83px;
				width: 100%;
				background: url('./images/bottom-shadow.png');
				background-repeat: repeat-x;
				z-index: 2;
				bottom: 0;
				border-radius: 5px;
			}

			.reis-gerelateerd-block-item--title{
				text-transform: uppercase;
				color: #ffffff;
				position: absolute;
				bottom: 16px;
			    left: 20px;
			    right: 20px;
				font-weight: 900;
				font-size: 20px;
				line-height: 1.2;
				z-index: 9;
				text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
			}


			// hover effects
			&:hover {
				box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
		
			}
			transition: box-shadow 0.2s linear;
			@include hover-zoom();

		}
	}
}

.partner-row{
	h4 {
  		margin-bottom: 10px;
  		margin-top: 10px; 
  	}
	p {
  		margin-top: 10px; 
  	}
}

/* ------------------
# Contactpagina
-------------------*/
.contact-block {
  		display: -webkit-box;
  		display: flex;
  		-webkit-box-pack: justify;
    	justify-content: space-between;
  		flex-wrap: wrap; 
  
  	.contact-block-left {
	    width: 66%;

	    @include desktop{
	    	width: 50%;
	    }
	    @include tablet{
	    	width: 100%;
	    }
	}
  	.contact-block-right {
    	width: 32%; 

    	@include desktop{
	    	width: 48%;
	    }
	    @include tablet{
	    	width: 100%;
	    }

    	h4 {
      		margin-top: 18px; 
      	}
    	.callback-form { 
	  	}
	}
}


/* ------------------
# Single-reizen
-------------------*/
.single-reizen{

	.reizen-content-top{
		
		.reizen-content-top--specs{
			background-color: $color__lightgreen;
			padding:20px;
			border-radius: 5px;
			@include font-size(0.9);
			position: relative;

			h3{
				display: inline-block;
				margin-right:10px;
			}
			.star-block{
				display: inline-block;
				margin-left: 0px;
				span.stars{
					img{
						height: 18px;
					}
				}
			}
			ul.two-column-list{
				list-style-type: none;
			    padding-inline-start: 0px;
			    padding: 0px;
			    margin: 0px;
			    display: flex;
			    justify-content: space-between;
			    flex-wrap: wrap;
			    margin-bottom: 25px;
				color: #666666;

			    li{
			    	width: 49%;
			    	margin-bottom: 10px;
			    	font-size: 15px;

			    	&:before{
			    		color: #a5a3a3;
			    	}

			    	a{
			    		text-decoration: none;
			    		color: #666666;
					    margin-bottom: 5px;
			    	}
			    }
			}

			ul.usp-list{
				list-style-type: none;
			    padding-inline-start: 0px;
			    padding: 0px;
			    margin: 0px;
			    margin-bottom: 30px;

		    	li{
		    		display: inline-block;
				    vertical-align: top;
				    background: #efefe3;
				    padding: 3px 10px;
				    margin-top: 6px;
				    margin-right: 3px;
				    border-radius: 2px;
				    font-size: 14px;

				    &:before{
				    	font-family: "Font Awesome 5 Free";
				    	font-weight: 900;
				    	content: "\f00c";
			    		color: $color__green;
			    		margin-right: 3px;
			    		vertical-align: middle;
			    		font-size: 14px;
				    }
				}
			}
		}
		.reizen-specs--prijs{
			span.old-price{
				font-weight: normal;
				text-decoration: line-through;
				color: #c7c7ad;
				@include font-size(1.4);
				margin-right: 10px;
			}
			span.prijs{
				font-weight: bold;
				color: $color__green;
				@include font-size(1.4);
			}
			.prijsinfo{
				margin-top: 20px;
				margin-bottom: 20px;
			}
		}
		.social-share{
			position: relative;
			margin-top: 15px;

			.a2a_kit{
				margin-left: 0px!important;
			    top: 0px!important;
			    background-color: transparent!important;
			    line-height: 0px!important;
			    display: inline-block!important;
			    vertical-align: middle!important;
			    position: relative!important;

			    a{
			    	display: inline-block!important;
    				margin-right: 5px!important;
			    }

			}
		}	
	}
	.reizen-content-gallery{
		min-height: 150px;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.reizen-content-mid{

	}
	.reizen-content-contentbuilder{
		margin-top: 60px;
	}
	.reizen-content-footer{
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;

		.reizen-content-footer-left{
			background-color: $color__lightgreen;
			padding:20px 40px;
			border-radius: 5px;
			width: calc(100% - 440px);

			.gform_wrapper{
				background: transparent;
				box-shadow:none;
				padding: 0px 0px 0px 0px;
				border-radius: 0px;
			}

			@include media(1200px){
				width: calc(100% - 340px);
			}
			@include desktop{
				width: 100%;
			}
			@include tablet{
				padding: 20px 20px;
			}
			@include tablet{
				padding: 20px 15px;
			}

			div.boekingsLinks{
				font-size: 14px;
				color: rgba(0,0,0,.6);

				a{
					font-size: 14px;
					color: rgba(0,0,0,.6);
					text-decoration: underline;

					&:hover{
						color: $color__orange;
					}
				}
			}
		}
		.reizen-content-footer-right{
			width: 440px;
			padding: 200px 40px 0px 40px;

			@include media(1200px){
				width: 340px;
				padding-right: 0px;
			}
			@include desktop{
				display: none;
			}
		}
	}
	#reis-boeken {
		.gfield_radio label {
			white-space: nowrap;
		}
		input[type=text] {
			background:#fff;
		}
		.ginput_container.ginput_container_consent{
			label{
				white-space: pre-wrap;
			}
		}
	}
	
	#reis-cta {
		visibility: hidden;
		opacity:0;

		@include phone {
			display:none;
		}

		transition: all 0.2s ease-out;
		position: fixed;
		top:0; 
		left:0;
		width: 100%;
		background:#fff;
		padding:10px;
		z-index:999;

		.reis-cta-inner {
			display:flex;
			justify-content: center;
			@include tablet{ 
				justify-content: start;
			}


		}
		.reis-cta-text {
			margin: 0px;
			margin-right:20px;
		    line-height: 18px;
		    font-style: italic;
		    font-size: 14px;

			span {
				font-weight:bold;
				color:$color__orange;
				display: block;
			    font-style: normal;
			    font-size: 16px;
			}
		}
		&.show {
			visibility: visible;
		opacity:1;
		
		}
	}
}
 .related-reizen{
	margin-bottom: 80px;
    margin-top: 80px;

 	.related-reizen-block{
 		.yarpp-related{
	 		display: flex;
	 		flex-wrap: wrap;
	 		justify-content: space-between;
	 		align-items: stretch;
	 	}
 	}
 	a{
 		width: 48%;
 		display: inline-block;

 		@include tablet{
 			width: 100%;
 			margin-bottom: 20px;
 		}
 	}
 }
.reis-info-button-block{
	margin-bottom: 40px;
}

.wp-block-coblocks-gallery-carousel{
	margin-bottom: 40px;
	margin-left: -50px;
    margin-right: -50px;

    @include tablet{
    	margin-left: -30px;
    	margin-right: -30px;
    }
    @include phone{
    	margin-left: -10px;
    	margin-right: -10px;
    }
}

.aanbieding-label{
	display: inline-block;
    background: $color__orange;
    padding: 7px 9px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: -17px;
    right: 20px;
    color: white;
	font-size: 13px;
	z-index:10;
}
a.aanbieding-link {
    position: relative;
    display:block;
    z-index:9;

}
.aanbieding-label  {
    z-index:10;
}
.aanbieding-block-item {
    overflow: hidden;
    position: relative;
    transition-property: opacity,transform,box-shadow !important;
    transition:all 0.5s ease-out;
    .aanbieding-block-item--content-left {
        transition:$hover-zoom-transition; 
    }
    @include hover-zoom();
}

.gform_wrapper{
	border-radius: 6px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background: white;
    padding: 30px 20px 10px 20px;

	ul.gform_fields{

		li.gfield{
			.gfield_label{
				text-transform: uppercase;
			}
			.gfield_description, .gsection_description{
				font-size: 16px;

				@include tablet{
					font-size: 15px;
				}
			}
			&.line-above, &.gfield_total{
				padding-top: 40px;

				.ginput_container_singleproduct{

					.ginput_product_price_label:after{
						content: 'per kamer';
						margin-left: 5px;
					}
				}
				.ginput_total{
					color: $color__green;
					font-weight: bold;
					font-size: 1.4rem;
				}
			}
			.gfield_radio{
				li{
					display: inline-block;
					vertical-align: top;

					label{
						display: block;
				    	font-size: 16px;
					    color: $color__green;
					    font-weight: bold;
					    text-transform: uppercase;
					    background: white;
					    padding: 6px 13px !important;
					    margin-top: 6px;
					    margin-right: 3px;
					    border-radius: 2px;
					    min-width: 155px;
					    text-align: center;

					    &:hover{
					    	background: $color__green;
					    	color: white;
					    }

					    @include phone{
					    	font-size: 14px;
					    }
					}
					input{
						display: none;

						&:checked+label{
							background: $color__orange;
							color: white;
						}
						&:disabled + label {
      						background: #ecece1;
      						color: #bbbbb5;
      						cursor: default;
      					}
					}
				}
			}
			.gfield_checkbox{
				li{
					input[type=checkbox]{
						vertical-align: top;
						margin-top: 4px;
					}
					label{
						font-size: 16px;

						@include phone{
					    	font-size: 14px;
					    }

						.ginput_price{
							font-weight: bold;
							color: $color__green;
						}
					}
				}
			}
			.ginput_container_singleproduct{
				margin-top: 0px!important;

				.ginput_product_price_label:after{
					content: 'per persoon';
					margin-left: 5px;
				}
				.ginput_quantity{
					font-weight: bold;
				    color: $color__green;
				    text-align: center;
				    width: 40px;
				}
			}
			&.gsection{
				padding-top: 20px;

				.gsection_title{
					font-weight: 100;
				    font-size: 28px;
				    margin-bottom: 20px;
				    color: $color__orange;
				    -webkit-text-fill-color: $color__orange;

				    @include tablet{
				    	font-size: 25px;
				    }
				    @include tablet{
				    	font-size: 22px;
				    }
				}
			}
			&.gfield_price{
				.ginput_container_singleproduct{
					.ginput_product_price{
						color: $color__green;
						font-weight: bold;
					}
					span:not(.ginput_price){
						display: inline-block!important;
					}
				}
			}
			.gpnf-nested-entries{
				.gpnf-row-actions{
					ul{
						margin-bottom: 0px;

						a{
							color: $color__black;
							margin-right: 10px;
							text-decoration: underline;

							&:hover{
								color: $color__green;
							}
						}
					}
				}
			}
			.gpnf-add-entry {
			    margin-top: 10px;
			    background: white;
			    padding: 8px 11px;
			    color: $color__green;
			    font-weight: bold;
			    text-transform: uppercase;
			    border: 0px;

			    &:hover{
			    	background: darken($color__green, 5%);
			    	color: white;
			    }
			}
		} 
		input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]){
		    border-radius: 0;
		    background: #edece5;
		    border-radius: 6px;
		    text-indent: 9px;
		    padding: 8px 4px !important;
		    border: 0px !important;
		}
		textarea{
			border-radius: 0;
		    background: #edece5;
		    border-radius: 6px;
		    text-indent: 9px;
		    padding: 8px 4px !important;
		    border: 0px !important;
		}
	} 
	.gform_footer{
		.gform_button{
			margin-top: 10px;
		    background: $color__green;
		    padding: 8px 11px!important;
		    color: white;
		    font-weight: bold;
		    text-transform: uppercase;
		    border: 0px;
		    width: auto!important;
		    line-height: normal!important;
		    min-height: auto!important;


		    &:hover{
		    	background: darken($color__green, 5%);
		    }
		}
	}
}

.ui-datepicker{
	width: auto!important;

	.ui-datepicker-header{
		background-color: $color__orange;
	}
	.ui-datepicker-prev,
	.ui-datepicker-next{
		top: 10px;

		&:before{
			display: none;
		}
		span{
			display: none;
		}
	}
}
.tingle-modal{
	.gpnf-modal-header{
		background-color: $color__orange!important;
		text-transform: uppercase;
		font-weight: bold;
	}
	.ginput_container{
		select{
			height: 36px;
		}
		.name_prefix{
			width: 100px!important;

			select{
				height: 36px;
			}
		}
		.name_first, .name_last{
			width: 40%!important;
		}

		.gfield_radio{


			label{
				min-width: 230px!important;
				background-color: $color__lightgreen!important;
				color: white!important;

				&:hover{
			    	background: $color__green!important;
			    	color: white!important;
			    }
			}
			input{
				display: none;

				&:checked+label{
					background: $color__orange!important;
					color: white!important;
				}
			}
		}
	}
	.tingle-btn--primary{
		background: $color__green!important;
	    padding: 8px 11px;
	    color: white;
	    font-weight: bold;
	    text-transform: uppercase;
	    border: 0px;

	    &:hover{
	    	background: darken($color__green, 5%);
	    }
	}
	.gpnf-btn-cancel{
	    background-color: transparent!important;
	    color: $color__green!important;
	    font-weight: bold;
	    text-transform: uppercase;
	    padding: 0px;
	}
	.gpnf-btn-cancel-mobile{
		padding: 0px;
	}
}
.block-review{
	background-color: #e3e3d3;
    padding: 20px 20px 20px 20px;
    border-radius: 5px;

    span.review_title{
    	font-style: italic;
    	font-weight: bold;
    	display: block;
    	font-size: 20px;
    }
    span.review_meta{
    	margin-right: 10px;
    }
    .hoefijzers{
    	display: inline-block;
    	img{
    		vertical-align: middle;
    		margin-top: -5px;
    		width: 23px;
    	}
    }
}

/* ------------------
# Footer
-------------------*/
.call-to-action{
	text-align: center;
	padding-top: 80px;
    padding-bottom: 80px;

    @include tablet{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	@include phone{
		padding-top: 35px;
		padding-bottom: 35px;
	}
    
	p{ 
		font-size: 18px;

		@include phone{
			font-size: 15px;
	        width: 80%;
	        margin-right: auto;
	        margin-left: auto;
	    }
	}
}


footer.site-footer{
	background-color: $color__black;
	font-size: 15px; 

	a{
		color: #df7021;
    	text-decoration: none;

    	&:hover {
      		text-decoration: underline;
      	}
      	&.social-icon {
	    	margin-right: 15px;
	    	font-size: 16px;

	    	i{
	    		color: white;
        		margin-right: 3px;
        		min-width: 20px;
    			text-align: center;
	    	}
	    	&:hover i{
	    		color: white;
	    	}
	    }
	}
	img.keurmerk {
	    width: 187px;
	    margin-top: 10px;
	    margin-bottom: 6px;
	    border-radius: 5px;
	}

	.footer-block{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: stretch;
		padding-top: 50px;
		padding-bottom: 30px;

		.footer-block-item{
			width: 22%;
			color: white;
			border-left: 1px solid #494949;
      		padding-left: 21px;

      		&:first-child{
      			border-left: 0px;
      			width: 33%;
      		}

      		h4{
      			font-weight: bold;
        		margin-top: 0px;
        		font-size: 23px;
      		}

			ul.menu{
				list-style-type: none;
			    padding-inline-start: 0px;
			    padding: 0px;
			    margin: 0px;

			    li{
			    	margin-bottom: 10px;

			    	a{
			    		color: $color__orange;
			    		text-decoration: none;

			    		&:hover{
			    			text-decoration: underline;
			    			color: white;
			    		}
			    	}

			    	@include desktop{
			            width: 49%;
			            display: inline-block;
			    	}
			    }
			}

			&.footer-one{

				img{
					max-width: 172px;
			        margin-top: 6px;
			        margin-bottom: 23px;
				}
				.menu-footer-disclaimer-container{
					ul{
						li{
							display: inline-block;
							margin-right: 5px;
							width: 48%;
						}
					}
				}
				.validation_error{
					color: $color__orange!important;
					border-top: 1px solid $color__orange!important;
    				border-bottom: 1px solid $color__orange!important;
    				font-style: italic;
				}
				.gform_wrapper {
				    border-radius: 0px;
				    box-shadow: none;
				    background: transparent;
				    padding: 0px 0px 0px 0px;

					.gform_fields{
						li#field_108_1{
							width: 49%;
							margin-right: 2%;
							display: inline-block;
						} 
						li#field_108_2{
							width: 49%;
							display: inline-block;
						}
						li{
							margin-top: 0px;
							margin-bottom: 0px;
						}
					}
					.gfield_label{
						display: none;
					}
					.ginput_container{
						margin-top: 0px;
					}
					.ginput_container_consent{
						margin-top: 10px;

						input[type="checkbox"]{
							margin-right: 3px;
						    display: inline-block;
						    vertical-align: top;
						    position: absolute;
						    margin-top: 5px;
						    margin-right: 10px;
						}
						label.gfield_consent_label{
							display: inline-block;
    						width: calc(100% - 20px);
    						padding-left: 20px;
						}
					}
					input[type=text] {
						width: 100% !important;
						border-radius: 0;
						background: #e9e4e1;
						border-radius: 6px;
    					text-indent: 9px;
    					padding: 8px 4px!important;
					}
					.gfield_required {
						color: #fff;
					}
					input[type=submit] {
						padding: 8px 11px!important;
						width: auto!important;
					}
					.gfield_error{
						background-color: transparent!important;
    					margin-bottom: 0px!important;
    					border-top: 0px solid #C89797!important;
    					border-bottom: 0px solid!important;

						&.gfield_contains_required div.gfield_description{
							padding-right: 0px!important;
						    padding-top: 0px!important;
						    color: $color__orange!important;
						    font-style: italic!important;
						    font-weight: normal!important;
						    font-size: 13px!important;
						}
					}
				}
				.gform_footer{
					padding: 0px 0px 0px 0px!important;

					#gform_submit_button_108 {
						padding: 8px 11px!important;
					}
				}
			}

			@include desktop{
				width: 49%!important;
				margin-bottom: 40px;

				&.footer-one{
					order: 3;
					border-left: 0px;
				}
				&.footer-two{
					order: 1;
					border-left: 0px;
				}
				&.footer-three{
					order: 2;
				}
				&.footer-four{
					order: 4;
				}
			}
			@include media(700px){
				width: 100%!important;
				border-left: 0px;
          		padding-left: 0px; 
			}
		}
	}
}

/* ------------------
# Archive-reizen
-------------------*/

.archive, .post-type-archive-reizen, .single-reviews {

	h4.filterresult{
		margin-top: -62px; 
	}
	article.reizen{
		background: #fffffd;
		border-radius: 6px;
    	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    	margin-bottom: 45px;
    	position: relative;

    	.reizen-archive-top{

    		.reizen-archive-image{
				@include hover-zoom();
    			background-size: cover;
    			background-position: center center;
    			border-radius: 6px 0px 6px 0px;		

    			a{
    				display: block;
    				height: 100%;
    			}	

    			@include media(1150px){
    				height: 225px;
    				width: 100%;
    			}
    			@include media(900px){
    				height: 200px;
    			}

    		}
    		.reizen-archive-excerpt{
    			padding-right: 30px;

    			h3{
    				margin: 30px 10px 15px 0px;
    				display: inline-block;

    				@include media(1150px){
    					margin-top: 10px;
    				}
    				a{
    					text-decoration: none;
    					color: $color__black;

    					&:hover{
    						text-decoration: underline;
    					}
    				}
    			}
    			.star-block{
					display: inline-block;
					margin-left: 0px;
					span.stars{
						img{
							height: 18px;
						}
					}
				}
				div.excerpt{
					display: block;
				}
	    		ul.two-column-list{	
	    			margin-top: 20px;
					list-style-type: none;
				    padding-inline-start: 0px;
				    padding: 0px;
				    margin: 0px;
				    display: flex;
				    justify-content: space-between;
				    flex-wrap: wrap;
				    margin-bottom: 30px;

				    li{
				    	width: 48%;
				    	display: inline-block;
					    vertical-align: top;
					    background: #efefe3;
					    padding: 3px 10px;
					    margin-top: 6px;
					    margin-right: 3px;
					    border-radius: 2px;
					    font-size: 14px;

					    &:before{
					    	font-family: "Font Awesome 5 Free";
					    	font-weight: 900;
					    	content: "\f00c";
				    		color: $color__green;
				    		margin-right: 3px;
				    		vertical-align: middle;
				    		font-size: 14px;
					    }
					    vertical-align: top;
				    }

				    @include media(1150px){
				    	justify-content: normal;
				    	padding-top: 10px;
				    	margin-bottom: 20px;

				    	li{
				    		width: auto;
				    	}
				    }
				}

				@include media(1150px){
					padding: 20px;
					width: 100%;
				}
				@include phone{
					padding: 20px 20px 0px 20px;
				}
			}
    	}

    	.reizen-archive-footer{
    		display: flex;
    		justify-content: space-between;
    		align-items: stretch;

    		@include media(1150px){
    			flex-wrap: wrap;
    		}
    		
    		.reizen-archive-footer--specs{
    			width: calc(100% - 246px);
    			padding: 20px;

    			ul{	
					list-style-type: none;
				    padding-inline-start: 0px;
				    padding: 0px;
				    margin: 0px;

				    li{
				    	width: 31%;
				    	display: inline-block;
				    	vertical-align: top;
				    	margin-right: 2%;
				    	margin-bottom: 10px;
				    	font-size: 14px;
					    line-height: 1.4;
				    	color: #666666;

				    	&:before{
				    		color: #cbcbb9;
				    	}

				    	a{
				    		text-decoration: none;
				    		color: #666666;
						    margin-bottom: 5px;
				    	}

				    	@include media(900px){
				    		width: 47%;
				    		margin-right: 2%;
				    	}
				    }
    			}
    			@include media(1400px){
    				width: calc(100% - 80px);
    				padding: 20px 0px 20px 20px;
    			}
    			@include media(900px){
    				padding: 0px 20px 10px 20px;
    				width: 100%;
    			}
    			
    			@include phone{
    				ul{
    					li{
    						width: 100%;
    					}
    				}
    			} 
    		}
    		.reizen-archive-footer--button{
    			width: 246px;
    			padding: 20px 20px 10px 0px;
    			text-align: right;

    			div.prijs-block{
	    			span.prijs{
						font-weight: bold;
						color: $color__green;
						@include font-size(1.2);
					}
				}
				@include media(1150px){
					width: 100%;
					padding-top: 0px;
					padding-left: 20px;
					text-align: left;

					.prijs-block{
						width: 40%;
						text-align: left;
						display: inline-block;
					}
					.reis-button{
						text-align: right;
						display: inline-block;
						width: 59%;
					}
				}
    			@include media(900px){
    				padding: 0px 20px 20px 20px;
    			}
    			@include media(350px){
					.prijs-block{
						width: 100%;
						text-align: left;
						display: inline-block;
					}
					.reis-button{
						text-align: left;
						display: inline-block;
						width: 100%;
					}
				}
    		}
    	}
	}

	.filter_no_result{
		background: #fffffd;
		border-radius: 6px;
		padding: 30px 20px;
    	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    	margin-bottom: 45px;
    }
}

.tax-description{
	max-width: 66%;
	margin-bottom: 85px;
	margin-left: 20%;

	@include tablet{
		max-width: 100%;
		margin-left: 0px;
	}

	p{
		&:first-child{
			margin-top: 0px;
		}
	}
}



/* ------------------
# Search and filter
-------------------*/
form.searchandfilter{
	>ul{
		padding-left: 0px;
		margin: 0px;
		padding: 0px;

		ul{
			padding: 0px;
			margin: 0px;
		}

		>li{
			background: #fffffd;
			border-radius: 6px;
	    	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	    	margin-bottom: 30px;
	    	padding: 20px;

	    	@include media(900){
	    		padding: 15px;
	    	}

	    	li{
	    		padding: 5px 0 2px;
	    	}
	    	.sf-count{
	    		opacity: 0.4;
	    	}

	    	&.sf-field-submit{
	    		background: transparent;
	    		border-radius: 0px;
	    		box-shadow: none;
	    	}

	    	.sf-meta-range-slider{
	    		.sf-range-prefix{
	    			margin-right: 5px;
	    		}
	    		.sf-input-range-number{
	    			border-color: #d6d6c6;
	    		}
	    		.meta-slider{
	    			@include media(900px){
	    				max-width: 180px;
	    			}
	    		}
	    		.noUi-connect{
	    			background-color: $color__green;
	    		}
	    	}
	    	.sf-label-checkbox{
	    		width: 91%;
	    	}
	    	[type="checkbox"], [type="radio"]{
	    		vertical-align: top;
    			margin-top: 6px;
	    	}
	    	.chosen-container-multi{
		    	ul.chosen-choices{
		    		padding: 7px 5px;
		    		border: 1px solid $color__lightgreen;

		    		li.search-choice{
		    			padding: 7px 22px 7px 7px;
			    		background-color: $color__lightgreen;
			    		background-image: none;
			    		border: 1px solid #dcdac4;

			    		span{
			    			font-size: 15px;
			    		}

			    		a{
			    			top: 8px;
    						right: 5px;
			    		}
		    		}
		    	}
		    }

	    	h4{
	    		font-weight: bold;
	    		color: $color__green;
	    	}
		}
	}
}



/////
li.icon{
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    padding-left:30px;

    &:before{
		font-family: "Font Awesome 5 Free";
    	font-weight: 900;
    	margin-left: -29px;
    	margin-right: 6px;
		vertical-align: middle;
    }

	&.icon-reis-soort:before{
		content: " ";
	    width: 22px;
	    height: 22px;
	    background-image: url('./images/icons/icon-paard.svg');
	    display: inline-block;
	}
	&.icon-reis-niveau:before{
		content: " ";
	    width: 22px;
	    height: 22px;
	    background-image: url('./images/icons/icon-helm.svg');
	    display: inline-block;
	}
	&.icon-reis-rijtijd:before{
		content: " ";
	    width: 22px;
	    height: 22px;
	    background-image: url('./images/icons/icon-rijtijd.svg');
	    display: inline-block;
	}
	&.icon-reis-accommodatie:before{
		content: "\f186";
		font-weight: 400;
		margin-right: 10px;
	}
	&.icon-reis-dagen:before{
		content: "\f073";
		font-weight: 400;
		margin-right: 10px;
		font-size: 19px;
	}
	&.icon-reis-overig:before{
		content: "\f00c";
		margin-right: 10px;
    	margin-left: -25px;
	}
}


.page-template-default, .post-template-default, .reviews-template-default{
	.site-content{
		padding-top: 105px;

		@include phone{
			padding-top: 75px;
			margin-top: -95px;
		} 
	}
	.entry-content{
		max-width: 1240px;
		margin-left: auto;
		margin-right: auto;

		*{
			max-width: 700px;
			margin-left: auto;
			margin-right: auto;
		}
		.groot{
			max-width: 100%;

			*{
				max-width: 100%;
			}
		}
		> p:first-child{
			font-style: italic;
    		font-size: 19px;
    		font-weight: 500;

    		@include phone{
    			font-size: 17px;
    		}
		}
		img{
			border-radius: 6px;
		}
		> .wp-block-image{

			img{
				margin-left: -40px;
				margin-right: -40px;
				max-width: calc(100% + 80px);

				@include tablet{
					margin-left: -30px;
					margin-right: -30px;
					max-width: calc(100% + 60px);
					border-radius: 0px;
				}
				@include phone{
					margin-left: -10px;
					margin-right: -10px;
					max-width: calc(100% + 20px);
					border-radius: 0px;
				}
			}
		}
		figcaption{
			font-style: italic;
		}
		.wp-block-columns{
			max-width: 100%;

			*{
				width: 100%;
			}
			p:first-child{
				font-style: normal;
	    		@include font-size(1);
			}
			.wp-block-button{
				width: auto;
			}
		}
		.wp-block-coblocks-gallery-carousel{ 
			button.flickity-button.previous{
				max-width: 100%;
			    margin-left: 0;
			    margin-right: 0;
			}
		}
	}
}

/* ---------------------------------------------

// blog archief

----------------------------------------------*/

.blog{
	.article-grid{
		display: flex;
		flex-wrap: wrap;
    	flex-direction: row;
    	justify-content: space-between;

		article{
			width: 48%;
			margin-bottom: 45px;
			background: #fffffd;
			border-radius: 6px;
	    	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);

	    	@include tablet{
	    		width: 100%;
	    	}

	    	.blog-archive-image{
	    		height: 200px;
				border-radius: 6px 6px 0px 0px;
				background-position: center center;
				background-size: cover;
				background-repeat: no-repeat;

				a{
					display: block;
					height: 100%;
					width: 100%;
				}
	    	}

	    	&:nth-child(1){
	    		order: 1;
		    	.blog-archive-image{
		    		height: 400px;

		    		@include phone{
		    			height: 200px;
		    		}
		    	}

		    }
		    &:nth-child(2){
		    	order: 3;
		    }
		    &:nth-child(3){
		    	order: 4;
		    }
		    &:nth-child(4){
		    	order: 5;
		    }
		    &:nth-child(5){
		    	order: 6;
		    }
		    &:nth-child(6){
		    	order: 7;
		    }
		    &:nth-child(7){
		    	order: 8;
		    }
		    &:nth-child(8){
		    	order: 9;
		    }
		    &:nth-child(9){
		    	order: 10;
		    }
		    &:nth-child(10){
		    	order: 11;
		    }
		    &:nth-child(11){
		    	order: 12;
		    }

		    .entry-content{
		    	padding: 0px 20px 20px 20px;

		    	a{
		    		float: right;
		    	}
		    	h3{
		    		a{
		    			color: #363636;
       					float: none;
        				text-decoration: none;

        				&:hover {
          					text-decoration: underline; 
      					}
		    		}
		    	}
		    }
		    &.nieuwsbrief{
		    	order: 2;

   				.blog-archive-image{
   					background: url('./images/nieuwsbrief-image.jpg');
   					background-size: cover;
   					background-position: center center;
		    		height: 285px;

		    		@include tablet{
		    			height: 200px;
		    		}
		    	}
		    	.validation_error{
					color: $color__orange!important;
					border-top: 1px solid $color__orange!important;
    				border-bottom: 1px solid $color__orange!important;
    				font-style: italic;
				}
				.gform_body {
					.gform_fields{
						li#field_104_1{
							width: 49%;
							margin-right: 2%;
							display: inline-block;
						} 
						li#field_104_2{
							width: 49%;
							display: inline-block;
						}
						li{
							margin-top: 0px;
							margin-bottom: 0px;
						}
					}
					.gfield_label{
						display: none;
					}
					.ginput_container{
						margin-top: 0px;
					}
					.ginput_container_consent{
						margin-top: 10px;

						input[type="checkbox"]{
							margin-right: 3px;
						    display: inline-block;
						    vertical-align: top;
						    position: absolute;
						    width: 18px;
						    margin-right: 10px;
						    margin-top: 5px;
						}
						label.gfield_consent_label{
							display: inline-block;
    						width: calc(100% - 27px);
    						padding-left: 23px;
						}
					}
					input[type=text] {
						width: 100% !important;
						border-radius: 0;
						background: #edece5;
						border-radius: 6px;
    					text-indent: 9px;
    					padding: 8px 4px!important;
    					border: 0px!important;
					}
					.gfield_required {
						color: $color__orange;
					}
					input[type=submit] {
						padding: 8px 11px!important;
					}
					.gfield_error{
						background-color: transparent!important;
    					margin-bottom: 0px!important;
    					border-top: 0px solid #C89797!important;
    					border-bottom: 0px solid!important;

						&.gfield_contains_required div.gfield_description{
							padding-right: 0px!important;
						    padding-top: 0px!important;
						    color: $color__orange!important;
						    font-style: italic!important;
						    font-weight: normal!important;
						    font-size: 13px!important;
						}
					}
				}
				.gform_footer{
					padding: 0px 0px 0px 0px!important;

					#gform_submit_button_104 {
						float: right!important;
						padding: 8px 11px!important;
					}
				}
		    }

		}
	}
}


/* ---------------------------------------------

// Review archief

----------------------------------------------*/
.post-type-archive-reviews .article-grid, 
.search .article-grid{
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
  	-webkit-box-orient: horizontal;
  	-webkit-box-direction: normal;
    flex-direction: row;
  	-webkit-box-pack: justify;
    justify-content: space-between; 
	
	article {
	    width: 48%;
	    margin-bottom: 45px;
	    background: #fffffd;
	    border-radius: 6px;
	    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

	    @include tablet{
    		width: 100%;
    	}
    
    	.blog-archive-image {
	      	height: 250px;
	      	border-radius: 6px 6px 0px 0px;
	      	background-position: center center;
	      	background-size: cover;
	      	background-repeat: no-repeat;
	      	position: relative; 

	  		a {
	        	width: 100%;
	        	height: 100%;
	        	position: absolute; 
	    	}
    	}
    	.entry-content {
    		padding: 0px 20px 20px 20px;

    		a {
        		float: right; 
        	}
     		
     		h3 {
		        display: inline-block;
		        margin-right: 20px; 

		        a {
		        	color: #363636;
		        	float: none;
		         	text-decoration: none; 

		        	&:hover {
            			text-decoration: underline; 
            		}
            	}
            }
      		
      		span.stars {
		        display: inline-block;
		        vertical-align: middle; 

		        .review-icon {
          			width: 23px;
          			display: inline-block;
          			margin-right: 3px; 
          		}
    		}
    		span.review-meta {
        		display: block; 
        	}
        }
    }
}

.single-reviews{ 
	.star-block {
	  	display: block;
	  	text-align: center;

		span.stars {
		  	display: inline-block;
		  	vertical-align: middle;
		  	margin-left: auto;
		  	margin-right: auto;

			.review-icon {
	    		width: 50px;
	    		display: inline-block;
	    		margin-right: 5px; 
	    	}
	    }
	}
	span.review-meta {
  		display: block; 
  	}
	.related-reviews {
  		max-width: 1024px;
  		margin-left: auto;
  		margin-right: auto;
  		margin-top: 40px; 
  	}
}




.relatedBlock article {
	width: 100%;
	margin-bottom: 45px;
	background: #fffffd;
	border-radius: 6px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

	.blog-archive-image {
	    height: 200px;
	    border-radius: 6px 6px 0px 0px;
	    background-position: center center;
	    background-size: cover;
	    background-repeat: no-repeat; 
	}
  	.entry-content {
	    padding: 0px 20px 20px 20px;
	    margin-top: 10px;

	    a {
      		float: right; 
      	}
    }

	&.row-related article {
  		width: 48%;
  		margin-right: 2%; 
  	}
  }




.wp-pagenavi{
	margin-top: 40px;
	margin-bottom: 50px;
	text-align: center;

	.pages{
		border: none;
		margin-right: 20px;
	}
	.current{
		padding: 5px;
		background-color: $color__green;
	    border-radius: 50px;
	    margin-left: 5px;
	    margin-right: 5px;
	    width: 34px;
	    display: inline-block;
	    color: #ffffff;
	    font-weight: bold;
	    border: 0px;
	}
	a.page{
		color: $color__green;
		font-weight: bold;
		padding-left: 5px;
		padding-right: 5px;
		text-decoration: none;
		border:0px;

		&:hover{
			text-decoration: underline;
		}
	}
	.nextpostslink, .previouspostslink{
		display: none;
	}
}

.search-no-results, .error404{
	#content{
		text-align: center;
		padding-top: 0px;

		form{
			display: inline-block;
			background: white;
			padding: 20px;
			border-radius: 6px;
			margin-bottom: 150px;

			input[type="text"]{
				width: 300px!important;
    			margin-right: 20px;

				@include phone{
					width: 150px!important;
				}

			}
			input[type="submit"]{
				padding: 8px 11px;
		    	text-decoration: none;
		    	font-weight: 900;
		    	text-transform: uppercase;
		    	display: inline-block;
		    	font-size: 15px;
		        background-color: #7bb534;
		    	color: #ffffff;
		    	border: 0px;

		    	&:hover{
		    		background-color: $color__orange;
		    	}
			}
		}
	}
}

/* ---------------------------------------------

// Block elementen

----------------------------------------------*/

.entry-content{

	.wp-block-coblocks-row, .wp-block-coblocks-row *,
	.wp-block-columns, .wp-block-columns *{
		max-width: 1400px;

		.wp-block-coblocks-row__inner.has-background{
			padding: 40px 20px;
		}

	}
	.wp-block-quote{
		&.is-style-large{
			font-size: 24px;
		}
	}
}

.wp-block-coblocks-accordion-item{
 	.wp-block-coblocks-accordion-item__title{
 		background-color: $color__lightgreen;
 	}
	.wp-block-coblocks-accordion-item__content{
		border-color: $color__lightgreen;
	}
	 details:hover summary::-webkit-details-marker:hover {
	    color:red;
	    background:white;
	 }
 }



 // Vertraagde animaties op mobiel uitschakelen
 @media (max-width: 600px) {
    [data-aos-delay] {
        transition-delay: 0s !important;
    }
}

.aos-wrap {
	display:inline-block;
	width:100%;
}