.btn, button, input[type="button"], input[type="reset"], input[type="submit"]{
	transition: all .1s ease-in-out;

	&:hover{
		transition: all .1s ease-in-out;
		cursor: pointer;
	}

	&.btn-full{
		padding: 8px 11px;
		text-decoration: none;
		font-weight: 900;
		text-transform: uppercase;
		display: inline-block;
		font-size: 15px;

		&.green{
			background-color: $color__green;
			color: #ffffff;

			&:hover{
				background-color: darken($color__green, 5%);
			}
		}
		&.orange{
			background-color: $color__orange;
			color: #ffffff;

			&:hover{
				background-color: darken($color__orange, 5%);
			}
		}
	}
	&.btn-text{
		padding: 8px 11px;
		text-decoration: none;
		font-weight: 900;
		text-transform: uppercase;
		display: inline-block;
		font-size: 15px;
		color: $color__black;

		&.black{
			color: black;

			&:hover{
				color: $color__green;
			}
		}
	}
	&.btn-inline-text{
		display: inline-block;
	    width: auto;
	    margin-top: 5px;
	    color: $color__green;

	    &:hover{
	    	color: $color__orange;
	    }
	    strong{
	    	font-weight: bold;
	    }
		&.black{
			color: black;

			&:hover{
				color: $color__green;
			}
		}
		&.right-align{
			float: right;
		}
	}
}
.wp-block-button{
	width: auto;
	max-width: auto;
	display: inline-block;

	&.is-style-groen .wp-block-button__link,
	&.is-style-oranje .wp-block-button__link{
		padding: 8px 11px;
		text-decoration: none;
		font-weight: 900;
		text-transform: uppercase;
		display: inline-block;
		margin-top: 10%;
		font-size: 15px;
		border-radius: 0px;
		margin-right: 10px;
	}
	&.is-style-groen .wp-block-button__link{
		background-color: $color__green;
		color: #ffffff;

		&:hover{
			background-color: darken($color__green, 5%);
		}
	}
	&.is-style-oranje .wp-block-button__link{
		background-color: $color__orange;
		color: #ffffff;

		&:hover{
			background-color: darken($color__orange, 5%);
		}
	}

	&.is-style-tekst{

		.wp-block-button__link{
			background: transparent;
			padding: 0px 0px;
			text-decoration: none;
			font-weight: 900;
			text-transform: uppercase;
			display: inline-block;
			margin-top: 10%;
			font-size: 15px;
			border-radius: 0px;
			margin-right: 10px;
			text-decoration: underline;
			color: $color__orange;

			&:hover{
				color: darken($color__orange, 5%);
			}
		}

		.has-centaur-black-color.wp-block-button__link{
			color: $color__black;

			&:hover{
				color: darken($color__black, 5%);
			}
		}
		.has-centaur-green-color.wp-block-button__link{
			color: $color__green;

			&:hover{
				color: darken($color__orange, 5%);
			}
		}
		.has-centaur-orange-color.wp-block-button__link{
			color: $color__orange;

			&:hover{
				color: darken($color__orange, 5%);
			}
		}
	}
}