
#open-filter-button {
  display:none;
  text-align:center;
}
#close-filter-button {
    display:none;
    text-align:center;
    bottom: 0;
}
#close-filter-x {
    display:none;
    position: absolute;
    top: 30px;
    right: 40px;
}
body.showing-filter {
    overflow-y:hidden;
} 

@media screen and ( max-width: 767px ) {

    #open-filter-button,
    #close-filter-button,
    #close-filter-x {
        display:block;
    }
    .archive h4.filterresult {
        margin-top:0 !important;
    }
    .archive .site-content .container-inner .page-content
    {   display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "secondary"
        "primary";
        grid-column-gap: 40px;
    }
  

    #secondary {
        visibility: hidden;
        opacity: 0;
        transition: 0.4s ease-out;
        transform: translateY(15px);
        /* display:none; */
        padding:0px;
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        z-index: 1;
        background: rgba(245,245,245,0.95);
        padding:30px;
     
    
        
        &.show {
            visibility: visible;
            opacity: 1;
            /* transition: 0.3s ease-out; */
            transform: translateY(0);
            display: block;
            position: fixed;
            height: 100%;
            padding: 10px;
            background: white;
            z-index: 999999;

            .filtersystem{
                height: calc(100% - 40px);
                padding-bottom: 50px;
                overflow-y: scroll;

                form.searchandfilter > ul > li{
                    margin-bottom: 0px;
                    box-shadow: none;
                    padding: 15px 20px 15px 20px;
                }
            }

            #close-filter-button{
                bottom: 0;
            }
        }
    }

    form.searchandfilter > ul > li {
        margin-bottom:15px;
    }
   
}