h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $font__title;
	font-weight: 600;
}

h1, .archive.post-type-archive-reizen h1{
  font-size: 65px!important;
  margin: 0.37em 0;
  line-height: 1.2;

  @include desktop{
    font-size: 50px!important;
  }
  @include tablet{
    font-size: 43px!important;
    margin-bottom: 10px;
  }
  @include phone{
    font-size: 30px!important;
  }
}




h2 {
  font-size: 60px;
  color:#d85d1d;
  background: -webkit-linear-gradient(#f18f44, #d85d1d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 15px;
  line-height: 1.1;

  @include desktop{
    font-size: 45px;
  }
  @include tablet{
    font-size: 35px;
  }
  @include phone{
    font-size: 27px;
  }
}

h3{
	text-transform: uppercase;
  font-size: 20px;
  margin: 0.67em 0;

  @include tablet{
    font-size: 17px;
  }
  @include phone{
    font-size: 17px;
  }
}

h4{
	font-weight: 100;
    font-size: 28px;
    margin-bottom: 20px;

    @include tablet{
      font-size: 25px;
    }
    @include tablet{
      font-size: 23px;
    }
}