body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-weight: 300;
	font-size: 16px;
	line-height: $font__line-height-body;

	@include tablet{
		font-size: 15px;
	}
}

@import "headings";

@import "copy";

.font-small{
	@include font-size(0.8);
	font-style: italic;
}