/* Main column width */
.wp-block {
  max-width: 750px; }

/* Editor buttons */
.wp-block-button {
  font-weight: bold; }
  .wp-block-button.is-style-tekst .wp-block-button__link {
    background: none !important;
    padding: 0px;
    font-weight: 900;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 10px;
    color: #df7021;
    text-decoration: underline; }
  .wp-block-button.is-style-groen .wp-block-button__link {
    padding: 8px 11px;
    text-decoration: none;
    font-weight: 900;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 10%;
    font-size: 15px;
    border-radius: 0px;
    background: #7bb534;
    color: #ffffff;
    margin-right: 10px; }
  .wp-block-button.is-style-oranje .wp-block-button__link {
    padding: 8px 11px;
    text-decoration: none;
    font-weight: 900;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 10%;
    font-size: 15px;
    border-radius: 0px;
    background: #df7021;
    color: #ffffff;
    margin-right: 10px; }

.wp-block-coblocks-accordion-item .wp-block-coblocks-accordion-item__title {
  background-color: #e3e3d3; }

.wp-block-coblocks-accordion-item.wp-block-coblocks-accordion-item--open .wp-block-coblocks-accordion-item__content {
  border-color: #e3e3d3; }
