$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__orange: #df7021;
$color__green: #7bb534;
$color__lightgreen: #e3e3d3;
$color__black: #363636;



// Background colors

.has-centaur-licht-green-background-color{
	background-color: $color__lightgreen;
}
.has-centaur-green-background-color{
	background-color: $color__green;
}
.has-centaur-orange-background-color{
	background-color: $color__orange;
}
.has-centaur-black-background-color{
	background-color: $color__black;
}