$size__site-main: 100%;
$size__site-sidebar: 25%;

$max-website-width: 1700px;

.container-inner{
	margin-left: 50px;
	margin-right: 50px;

	@include desktop{
		margin-left: 30px;
		margin-right: 30px;
		padding-left: 0px;
		padding-right: 0px;
	}
	@include phone{
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.container-inner-small{
		margin-left: 50px;
		margin-right: 50px;

		@include desktop{
			margin-left: 30px;
			margin-right: 30px;
			padding-left: 0px;
			padding-right: 0px;
		}
		@include tablet{
			margin-left: 0px;
			margin-right: 0px;
			padding-left: 0px;
			padding-right: 0px;
		}
		@include phone{
			padding-left: 0px;
			padding-right: 0px;
		}
	}
}
.content-kader{
	margin-bottom: 50px;
	display: block;
}

.archive .site-content .container-inner .page-content{
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 1fr;
	grid-template-areas: "secondary primary";
	grid-column-gap: 40px;

	display: -ms-grid;
	-ms-grid-columns: 3fr 1fr 11fr;   

	#primary {
		-ms-grid-column:3;
	}
	#secondary {
		-ms-grid-column:1;
	}

	@include media(900px){
		grid-template-columns: 200px 4fr;
		grid-column-gap: 30px;

		-ms-grid-template-columns: 200px 4fr;
		-ms-grid-column-gap: 30px;
	}
}
#secondary{

}
#primary{

}