
.main-navigation {
	clear: both;
    display: inline-block;
    width: calc(100% - 210px);


	@include media(900px){
		width: 0px;
	}

	.menu-hoofdmenu-container{
		text-align: right;
	}
	
	#mega-menu-wrap-menu-1{
		text-align: right;
		#primary-menu, #mega-menu-menu-1{
			text-align: right!important;
			display: inline-block!important;
			background: $color__lightgreen!important;
			// padding: 5px 9px 5px 4px;
			padding:0px;
			border-radius: 6px;
			box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
			list-style-type: none!important;
			margin: 0!important;

			li.mega-menu-flyout ul.mega-sub-menu{
				box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
				margin-left: -18px;
			}
			li.mega-menu-megamenu > ul.mega-sub-menu{
				box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
			}
			li.mega-menu-item-has-children>a.mega-menu-link>span.mega-indicator:after{
				font-family: "Font Awesome 5 Free";
		    	font-weight: 900;
		    	content: "\f078";
			}
			ul.mega-sub-menu, ul.menu{
				text-align: left;
			    padding: 5px 8px;
			    margin: 0px;
			    display: block;
			    list-style-type: none;
			    padding-inline-start: 0px;

			    h4.mega-block-title{
			    	color: $color__black!important;

			    	@include media(1200px){
						font-size: 14px;
					}
					@include desktop{
						font-size: 13px;
					}
			    }
			    li{
			    	margin-bottom: 8px;

			    	&:last-child{
			    		margin-bottom: 0px;
			    	}
			    	&.current-menu-item, &.current-menu-parent{
						a{
							color: $color__orange;
							font-weight: bold;
						}
					}
			    }

				a{
					color: $color__black;
					text-transform: uppercase;
					text-decoration: none;
					font-size: 16px;

					&:hover{
						color: $color__orange;
					}

					@include media(1200px){
						font-size: 14px;
					}
					@include desktop{
						font-size: 13px;
					}
				}
			}

			ul.mega-sub-menu li.mega-no-top-padding{
				li.mega-menu-item{
					padding: 0px 0px 0px 0px;

					ul.menu{
						padding: 0px;
						text-align: right;

						a{
							color: white;
						}
					}
				}
			}
			> li{
				display: inline-block;
				float: left;
				margin-top: 2px;
				display: inline-block;
				padding: 2px 12px;
				position: relative;
				border-right: 1px solid #fafaf8;
				border-left: 1px solid #cfccc1;

				&:first-child{
					border-left: 0px;
				}
				&:last-child{
					padding-right: 0px!important;
					border-right: 0px;
					border-left: 0px;
				}

				&.current-menu-item, &.current-menu-parent{
					a{
						color: $color__orange;
					}
					.sub-menu a{
						color: $color__black;

						&:hover{
							color: $color__orange;
						}
					}
					.current-menu-item{
						a{
							color: $color__orange;
						}
					}
				}
				&.highlight{
					margin-top: 0px;
					padding-left: 0px!important;

					

					a{
						background: $color__orange!important;
						padding: 8px 11px;
						color: white!important;
						font-weight: 400;
						height: auto;
						line-height: 26px;
						border-radius: 0px 5px 5px 0px;
  					    margin-right: 2px;

						&:hover{
							background: darken($color__orange, 5%)!important;
							color: white!important;
						}
						@include media(1200px){
							padding: 1px 9px;
						}
						@include desktop{
							padding: 1px 8px;
						}
					}
				}
				@include media(1200px){
					> a.mega-menu-link{
						font-size: 15px;
						line-height: 37px;
    					height: 37px;
					}
				}
				@include desktop{
					padding: 2px 8px;

					> a.mega-menu-link{
						font-size: 13px;
						line-height: 35px;
    					height: 35px;
					}
				}
			}
		}
	}
}

.main-navigation-second{
	clear: both;
	display: inline-block;
	width: 100%;
	text-align: center;
	height: 0px;

	@include media(900px){
		display: none;
	}

	ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
	padding: 7px;
	background: white;
	min-height: 54px;
    display: inline-block;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    line-height: 14px;

		ul.sub-menu{
			text-align: left;

			a{
				color: $color__black;
			}
		}

		li{
			display: inline-block;
			float: left;
			padding: 6px 15px;
			border-right: 1px solid #fafaf8;
			border-left: 1px solid #eceae2;

			a{
				color: $color__black;
				text-decoration: none;
				font-weight: 400;
				font-size: 15px;
				padding-top: 6px;
    			padding-bottom: 6px;
    			display: block;

				&:hover{
					color: $color__orange;
				}
			}

			&.current-menu-item{
				a{
					color: $color__orange;
					font-weight: bold;

					a{
						color: $color__black;
					}
				}
			}
			&:first-child{
				border-left: 0px;
			}
			&:last-child{
				border-right: 0px;
			}
		}

		@include phone{
			padding: 0px;

			li{
				padding: 6px 10px;
			}
		}
	}
}
/* Mobile menu. */
button#responsive-menu-button {
    width: 100px!important;
    height: 47px!important;
    position: fixed;
    top: 15px;
    right: 5%;
    background: $color__lightgreen!important;
    border-radius: 6px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);

	.responsive-menu-box{
		height: 25px!important;
		color: $color__black!important;

		.responsive-menu-inner{
			width: 19px;
			background-color: $color__orange!important;;

			&:before{
				width: 25px;
				background-color: $color__orange!important;;
			}
			&:after{
				width: 23px;
				background-color: $color__orange!important;;
			}
		}
	}
	&.is-active{
		width: 55px!important;
    	right: 3%;
		
		.responsive-menu-label{
			display: none;
		}
	}
	.responsive-menu-label{
		color: $color__black!important;
	}
	&.responsive-menu-boring.is-active .responsive-menu-inner{
		width: 23px;
	}
}
#responsive-menu-container{
	#responsive-menu-title{
		font-weight: bold;
		text-transform: uppercase;
		color: $color__black!important;
		font-family: $font__title;
	}

	#responsive-menu{
		li.responsive-menu-item{
			a{
				font-weight: 400;
			}

			&.menu-item-has-children{
				a{
					background:#cecebb;
				}
			}
			&.current-menu-parent{
				a{
					background-color: #ffffff;
					color: $color__orange;
				}
			}
		}
	}
}


/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
